@import "../core/core.css";

:root {
	--notify-float-width: 100%;
}

.c__notification {
	font-family: Armata;
	font-size: 16px;
	padding: 1%;
	border-radius: 0.5rem;
	transition: 0.5s;
	margin: 1%;
	text-align: center;
	min-height: 33px;
}

.c__notification--float {
	display: grid;
	position: fixed;
	width: 98%;
	margin-left: 1%;
	place-items: center;
	box-shadow: var(--c-shadow-disperse-ligth);
	border-radius: 0.5rem;
	cursor: pointer;
	bottom: 5%;
}

.c__notification__minimum {
	font-size: 10px;
}