
.c__tooltip__container{
    display: inline-grid;
    place-items: center;
}

.c__tooltip {
    border-radius: 0.3rem;
    font-size: 14px;
    padding: 0.5%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 90px;
    background-color: white;
    margin-top: 70px;
    box-shadow: var(--c-shadow-regular);
    opacity: 0;
    transition: opacity 0.3s, margin-top 0.5s;
}

.c__tooltip--active {
    display: flex;
    margin-top: 40px;
    opacity: 1;
    transition: opacity 0.5s, margin-top 0.55s;
}

.c__tooltip--active_mz {
    margin-top: 90px;
}
