@import "../../catrina/buttons.css";
@import "../../catrina/utility-first.css";


.c__alert_wrapper {
    background-color: var(--alert-wrapper-background-Firefox);
    width:100%;
    position:fixed;
    top:0;
    height: auto;
    bottom: 0;
    cursor: pointer;
    display: grid;
    place-items: center;
}
@supports (backdrop-filter: blur()) {
    .c__alert_wrapper {
        backdrop-filter: blur(--alert-wrapper-background-blur);
        background-color: var(--alert-wrapper-background);
    }
}

.c__alert_wrapper--no_skip {
    cursor: initial;
}

.c__alert_wrapper--clear {
    background-color: var(--c-invisible);
}

.c__alert {
    width: 50%;
    height: 70%;
    min-height: 95px;
    background-color: var(--alert-background);
    color: var(--alert-color);
    display: grid;
    grid-template-rows: 40px auto 50px;
    cursor: initial;
    border-radius: var(--border-radius-std);
    position: absolute;
}

.c__alert__header {
    display: grid;
    place-items: center;
    grid-template-columns: auto 30px;
    padding: 1%;
    background-color: var(--alert-header-background);
    color: var(--alert-header-color);
    border-radius: var(--border-radius-std) var(--border-radius-std) 0 0;
}

.c__alert__header--no_skip {
    grid-template-columns: 100% 0;
}

.c__alert__header p {
    font-size: 22px;
}

.c__alert__button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.c__alert__body {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    scrollbar-color: var(--alert-scrollbar-color-Firefox);

}

.c__alert__body::-webkit-scrollbar-thumb {
    background: var(--alert-scrollbar-color-Chromium);
}

.c__alert__buttons {
    display: inline-flex;
    align-items: center;
    padding: 1%;
    justify-content: stretch;
}

.c__alert__buttons button {
    margin: 1%;
    width: -moz-available;
    width: -webkit-fill-available;
    width: stretch;
}

@media(max-width:900px){
    .c__alert {
        width: var(--alert-tablet-width);
        height: var(--alert-tablet-heigth);
    }
}

@media(max-width:500px){
    .c__alert {
        width: var(--alert-movil-width);
        height: var(--alert-movil-heigth);
    }
}


/*@import "../core/core.css";
@import "../buttons/buttons.css";

:root {
    --width-alert: 50%;
    --margin-l-alert: calc(100% - var(--width-alert));
    --margin-alert: calc(var(--margin-l-alert)/2)
}

.pwf__alert__background {
    background-color: var(--c-black2);
    width:100%;
    position:fixed;
    top:0;
    height: auto;
    bottom: 0;
    cursor: pointer;
    transition: 0.8s;
    backdrop-filter: blur(5px);
}
.pwf__alert__background--noShadow {
    background-color: var(--c-invisible);
    backdrop-filter: none;
}
.pwf__alert__background--noSkip {
    cursor: initial;
}

.pwf__alert__canvas{
    display: inline-block;
    position: fixed;
    top: 5%;
    font-family: var(--c-font);
    min-width: 45%;
    width: var(--width-alert);
    left: var(--margin-alert);
    color: black;
    border-radius: 1rem;
    justify-content: center;
    text-align: center;
    cursor: initial;
    box-shadow: var(--c-shadow-regular);
    font-size: 22px;
    transition: 0.8s;
    background-color: whitesmoke;
    padding: 0.5%;
}
/*------------------- ALERT HEADER *-------------------*//*
.pwf__alert__header{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas: "alert_icon alert_title alert_exit";

}

.pwf__alert__header__section{
    text-align: center;
}

.pwf__alert__header__section--icon{
    text-align: left;
    font-size: 1.5em;
    padding-left: 2%;
}

.pwf__alert__header__section--close {
    text-align: right;
}

.pwf__alert__header__title {
    font-size: 1.3em;
    white-space: nowrap;
}

.pwf__alert__header__button {
    border: none;
    border-radius: 50%;
    background-color: #f6f5f4;
    color: var(--c-yellow1);
    box-shadow: var(--c-shadow-disperse-ligth);
    font-size: 18px;
    height: 35px;
    width: 35px;
    display: inline-grid;
    justify-content: center;
    align-content: center;
    cursor: pointer;
    outline: none;
}

@supports (backdrop-filter: blur()) {
    .pwf__alert__canvas {
        backdrop-filter: blur(20px);
        background-color: rgba(231, 231, 231, 0.62);
    }
}

.pwf__alert__header__button:hover{
    background-color: whitesmoke;
    color: var(--c-red2);
}

.pwf__alert__header__button:focus{
    border: 2px solid var(--c-yellow1);
    color: var(--c-red2);
}

.pwf__alert__header__button:active{
    box-shadow: none;
}
/*------------------- ALERT BODY *-------------------*//*
.pwf__alert__body{
    display: block;
    padding: 1.1%;
    overflow-y: auto;
    max-height: 18em;
}


/*------------------ ALERT FOOTER *------------------*//*
.pwf__alert__footer{
    display: flex;
    border-radius: 0 0 7px 7px;
    padding-top: 1.1%;
    padding-bottom: 1.1%;
    justify-content: flex-end;
}

.pwf__alert__footer__hr{
    max-width: 80%;
    color: whitesmoke;
    margin: auto;
    margin-bottom: 10px;
}
/*---------------- Responsive ----------------*//*
@media(max-width:700px){
    :root{
        --width-alert: 90%;
    }
    .pwf__alert__header__title {
        font-size: 1em;
    }

    .pwf__alert__body {
        padding: 1.3% 0;
    }
}

@media(max-width:500px){
    :root{
        --width-alert: 100%;
    }

    .pwf__alert__canvas{
        height: 100%;
        top: 0;
    }

    .pwf__alert__header__section--icon {
        font-size: 1.2em;
    }

    .pwf__alert__header__title {
        font-size: 1.2em;

    }
}*/