.c__label, .c__label_required {
    cursor: var(--el-std_input-cursor);
}
.c__label_required::after {
    content: " *";
    color: var(--emphasis-color);
}
.c__input_std, .c__input_std:required:empty {
    padding: var(--padding-thin);
    border: 2px solid var(--contrast-color);
    border-radius: var(--border-radius-std);
    background-color: var(--el-std_input-background);
    cursor: var(--el-std_input-cursor);
    outline: none;
    text-align: var(--el-std_input-align);
    color: var(--base-color-font);
    font-size: 0.8em;
    transition: all 0.6s, border-color 0.7s;
    -webkit-appearance: textfield;
}

.c__input_std:focus, .c__input_std:required:empty:focus {
    background-color: var(--c-invisible);
    border: 2px solid var(--emphasis-color);
    transition: all 0.6s, border-color 0.7s;
}

.c__input_std:disabled {
    background-color: var(--contrast-color);
    color: var(--contrast-color-font)

}
.c__input_std::placeholder {
    font-style: italic;
}

.c__input_std:invalid {
    border: 2px solid var(--error-color);
}

.c__input_color {
    background: none;
    border-color: var(--c-invisible);
    cursor: var(--el-std_input-cursor);
    transition: outline-color 0.7s;
    outline: none;
    border-radius: var(--border-radius-thin);
    border: 2px solid var(--c-invisible);
}

.c__input_color:focus, .c__input_color:active {
    border: 2px solid var(--emphasis-color);
    outline: none;
    transition: all 0.7s
}

.c__input_range {
    cursor: var(--el-std_input-cursor);
    background-color: var(--c-invisible);
}
.c__input_range:focus {
    outline: none;
}

.c__input_range::-webkit-slider-runnable-track {
    height: 5px;
    cursor: var(--el-std_input-cursor);
    box-shadow: none;
    background: var(--contrast-color);
    border-radius: var(--border-radius-thin);
}
input[type=range].c__input_range::-webkit-slider-thumb {
    cursor: var(--el-std_input-cursor);
    -webkit-appearance: none;
    margin-top: -6px;
}

.c__input_range::-moz-range-track {
    height: 5px;
    cursor: var(--el-std_input-cursor);
    box-shadow: none;
    background: var(--contrast-color);
    border-radius: var(--border-radius-thin);
}
.c__input_range::-moz-range-thumb {
    border: 2px solid var(--emphasis-color);
    height: 16px;
    width: 16px;
    border-radius: var(--el-range-thumb-border_radius);
    background: var(--contrast-color-font);
    cursor: var(--el-std_input-cursor);
    transition: 0.7s;
}

.c__input_range::-moz-range-thumb:hover, .c__input_range:focus::-moz-range-thumb {
    background: var(--emphasis-color);
    transition: 0.7s;
}

/****************************************************************************/
/* Based on  https://www.w3schools.com/howto/howto_css_custom_checkbox.asp */
.c__input_checkbox, .c__input_radio {
    display: inline-grid;
    position: relative;
    cursor: var(--el-std_input-cursor);
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 25px;
    width: 25px;
    place-items: center;
}
.c__input_checkbox input, .c__input_radio input {
    position: absolute;
    opacity: 0;
    cursor: var(--el-std_input-cursor);
    height: 100%;
    width: 100%;
}

.c__input_checkbox__checkmark, .c__input_radio__checkmark {
    position: absolute;
    height: 25px;
    width: 25px;
    border-radius: var(--border-radius-thin);
    background-color: var(--contrast-color);
    transition: 0.5s;
}

.c__input_radio__checkmark{
    border-radius: 50%;
    /*background-color: var(--contrast-color-font);*/
}
.c__input_checkbox input:checked ~ .c__input_checkbox__checkmark, .c__input_radio ~ .c__input_radio__checkmark {
    background-color: var(--emphasis-color);
    transition: 0.5s;
}

.c__input_checkbox__checkmark:after, .c__input_radio__checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.c__input_checkbox input:checked ~ .c__input_checkbox__checkmark:after, .c__input_radio input:checked ~ .c__input_radio__checkmark:after {
    display: block;
}

.c__input_checkbox .c__input_checkbox__checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid var(--contrast-color-font);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.c__input_radio input:checked ~ .c__input_radio__checkmark {
    background-color: var(--emphasis-color);
}
.c__input_radio .c__input_radio__checkmark:after {
    top: 8px;
    left: 8px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: var(--contrast-color-font);
}