/*@import "../core/core.css";

.c__form {
    display: block;
    font-size: 16px;
}

.c__form__title {
    font-size: 1.2em;
    display: block;
    text-align: center;
    font-style: italic;
    padding: 1%;
    border-bottom: 2px solid var(--c-gray1);
}

.c__form__subtitle {
    font-size: 1.1em;
    display: block;
    text-align: center;
    font-style: italic;
    padding: 1%;
}

.c__form__subContainer {
    margin: 1%;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "primus secundus";
}

.c__form__passwordContainer {
    margin: 1%;
    text-align: center;
    display: grid;
    grid-template-columns: 25% 70%;
    grid-template-areas: "primus secundus";
}

.c__form__item_1 {
    grid-area: primus;
    padding: 0.5%;
}

.c__form__item_2 {
    grid-area: secundus;
    padding: 0.5%;
}
.c__form__passwordContainer .c__form__item_1{
    text-align: right;
}
.c__form__passwordContainer label {
    width: 50%;
    margin-left: 48%;
}

.c__form__label {
    display: inline-grid;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 0.5rem;
    border: 2px solid var(--c-gray5);
    padding: 1%;
    min-height: 25px;
    min-width: 25px;
}

.c__form__label--block {
    display: block;
    margin-bottom: 1%;
}

.c__form__label--no_border {
    border: none;
}

/*----------------------Inputs----------------------*/
/*
.c__form__input__text, .c__form__input__email, .c__form__input__password, .c__form__input__tel,
.c__form__input__url, .c__form__input__number, .c__form__input__select, .c__form__passwordSubContainer,
.c__form__c_select__input {
    height: 34px;
    padding: 2%;
    border: 2px solid var(--c-gray5);
    border-radius: 0.5rem;
    background-color: var(--c-invisible);
    cursor: pointer;
    outline: none;
    text-align: center;
    align-items: center;
    transition: all 0.6s, border-color 0.7s;
}

.c__form__passwordSubContainer{
    padding: 0;
    display: inline-flex;
    justify-content: center;
    align-content: center;
}

.c__form__passwordSubContainer input[type="text"], .c__form__passwordSubContainer input[type="password"] {
    border: none;
    width: 80%;
}

.c__form__passwordSubContainer input[type="text"]:focus, .c__form__passwordSubContainer input[type="password"]:focus {
    border: none;
}

.c__form__passwordSubContainer .button {
    display: inline-grid;
    background-color: var(--c-invisible);
    width: 10%;
    border: none;
    outline: none;
    cursor: pointer;
    justify-content: center;
    align-content: center;
}

.c__form__passwordSubContainer .button:focus {
    border-radius: 0.5rem;
    box-shadow: var(--c-shadow-disperse-ligth);
}

.c__form__c_select__input {
    width: 100%;
}
.c__form__input__text:focus, .c__form__input__email:focus, .c__form__input__password:focus, .c__form__input__tel:focus,
.c__form__input__url:focus, .c__form__input__number:focus, .c__form__input__select:focus,
.c__form__passwordSubContainer--focus, .c__form__c_select__input:focus{

    outline: none;
    border: 2px solid var(--c-yellow2);
    transition: all 0.6s, border-color 0.7s;
}

.c__form__input__select, .c__form__input__number, .c__form__c_select__input {
    height: 34px;
    padding: 0;
    min-width: 10%;
    -webkit-appearance: none;
}

.c__form__input__number {
    -webkit-appearance: textfield;
}

.c__form__input__radio {
    display: inline;
    margin-left: 1%;
    margin-right: 1%;
    cursor: pointer;
}

.c__form__input__checkbox, .c__form__input__range, .c__form__input__file {
    cursor: pointer;
}

.c__form__input__color {
    background: none;
    border-color: var(--c-invisible);
    height: 50px;
    cursor: pointer;
}


.c__form__input__textarea {
    background: none;
    padding: 1%;
    border-radius: 0.5rem;
    border: 2px solid var(--c-gray5);
    min-height: 80px;
    max-height: 200px;
    width: 70%;
    min-width: 50%;
    max-width: 80%;
}

.c__form__input__textarea:focus {
    border: 2px solid var(--c-yellow2);
    transition: 0.6s;
}

.c__form__input__date {
    background: none;
    border: none;
    border-bottom: 2px solid var(--c-gray1);
    cursor: pointer;
    padding-left: 2%;
}
/*----------------------Custom Select----------------------*//*
.c__form__c_select__box {
    display: none;
    background-color: #f0f0f0;
    border-radius: 0.5rem;
    position: fixed;
    left: 50%;
    box-shadow: var(--c-shadow-regular);
    max-height: 110px;
    overflow-y: auto;
    padding: 1%;
    width: 48%;
    margin-top: 38px;
}

.c__form__c_select__box--active {
    display: inline-block;
}

.c__form__c_select__box__option {
    margin: 1%;
    border-radius: 5px;
    cursor: pointer;
    padding: 1%;
}

.c__form__c_select__box__option:hover {
    background-color: #e6e6e6;
}

/*----------------------Buttons----------------------*//*
.c__form__input__button {
    border: 2px solid var(--c-gray-3);
    border-radius: 0.5rem;
    padding: 8px 15px 8px 15px;
    background-color: var(--c-gray-3);
    box-shadow: var(--c-shadow-disperse);
    transition: 0.6s;
    margin-top: 1%;
    margin-bottom: 1%;
}

.c__form__input__button:hover {
    background-color: var(--c-gray-3);
    cursor: pointer;
    transition: 0.6s;
}

.c__form__input__button:focus {
    outline: none;
    color: var(--c-black2);
    box-shadow: var(--c-shadow-disperse-ligth);
    transition: 0.6s;
}

.c__form__input__button:disabled {
    background-color: #ffffff1a;
    border: 2px solid var(--c-gray-3);
    box-shadow: none;
    cursor: initial;
}

.c__form__button--yellow:enabled {
    background-color: var(--c-yellow2);
    border: 2px solid var(--c-yellow2);
}

.c__form__button--orange:enabled {
    background-color: var(--c-orange1);
    border: 2px solid var(--c-orange1);
}

.c__form__button--red:enabled {
    background-color: var(--c-red1);
    border: 2px solid var(--c-red1);
    color: white;
}

.c__form__button--large:enabled {
    font-size: large;
}

/*----------------------Inputs + Icons----------------------*//*
.c__form__subContainer__icon {
    display: flex;
    padding: 1%;
    margin: 1%;
}

.c__form__space__label {
    display: inline-block;
    width: 30%;
}

.c__form__space__label:hover {
    cursor: pointer;
}

.c__form__space__inputIcon{
    display: inline-block;
    width: 70%;
    border-bottom: 2px solid rgb(129, 129, 129);
}

.c__form__input {
    display: inline-block;
    border: none;
    background-color: var(--c-invisible);
    height: 25px;
    padding-left: 1%;
    padding-right: 1%;
    width: 90%;
    outline: none;
}

.c__form__space__inputIcon--active {
    border-bottom: 2px solid var(--c-yellow2);
}


.c__form__icon {
    transition: 0.6s;
}

.c__form__icon:hover {
    color: var(--c-black2);
    cursor: pointer;
    transition: 0.6s;
}

/*----------------------Responsive----------------------*//*
@media(max-width:700px) {
    .c__form {
        font-size: 14px;
    }
}

@media(max-width:500px) {
    .c__form {
        font-size: 13px;
    }
}

@media(max-width:300px) {
    .c__form {
        font-size: 12px;
    }
}
*/