* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    scrollbar-width: var(--scrollbar-width-std-Firefox);
    scrollbar-color: var(--scrollbar-color-std-Firefox);
}

/*************SCROLL BARS********************/

/* width */
::-webkit-scrollbar {
    width: var(--scrollbar-width-std-Chromium);
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--c-invisible);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--scrollbar-color-std-Chromium);
    border-radius: var(--scrollbar-radius-std-Chromium);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-color-hover-Chromium);
}

::selection {
    color: var(--contrast-color-font);
    background-color: var(--emphasis-color);
}


/*************LINKS********************/
a, .a {
    text-decoration: var(--el-a-text_decoration);
    color: var(--el-a-color);
}

a:hover, .a:hover {
    text-decoration: var(--el-a-hover-text_decoration);
    color: var(--el-a-hover-color);
}

a:focus, .a:focus {
    outline: var(--el-a-focus-outline);
    text-decoration: var(--el-a-focus-text_decoration);
}

/*************VARIABLES********************/
:root {
    /*Colors*/
    --c-aqua1: #1d9999;
    --c-aqua2: #1d997e;
    --c-blue1: #1d4899;
    --c-blue2: #1d7699;
    --c-gray1: #58585863;
    --c-gray2: #818181;
    --c-gray3: #bbbbbb;
    --c-gray4: #bdbdbd;
    --c-gray5: #d3d3d3;
    --c-gray6: #f5f5f5;
    --c-green1: #27b446;
    --c-green2: #7eb427;
    --c-orange1: #ff8411;
    --c-orange2: #ff932e;
    --c-orange3: #ff9639;
    --c-red1: #910d0d;
    --c-red2: #b61717;
    --c-yellow1: #efc819;
    --c-yellow2: #ffd92e;
    --c-invisible : rgba(236, 236, 236, 0);
    --c-black1: rgba(0, 0, 0, 0.87);
    --c-black2: #000000b3;
    --c-black3: rgba(0, 0, 0, 0.5);
    --c-black4: rgba(0, 0, 0, 0.3);


    /*Shadows*/
    --c-default-shadow-values: 2px 9px 8px -4px;
    --c-shadow-heavy: 0px 5px 5px 0px rgba(0,0,0,0.75);
    --c-shadow-regular: 0px 5px 5px 0px rgba(0, 0, 0, 0.171);
    --c-shadow-disperse: var(--c-default-shadow-values) rgb(153, 148, 148);
    --c-shadow-disperse-ligth: var(--c-default-shadow-values) rgba(0, 0, 0, 0.22);

}