@import "../core/variables.css";
.c__button {
    padding: 1%;
    width: 150px;
    min-height: 32px;
    border: none;
    margin: 0 10px;
    border-radius: 0.5rem;
    cursor: pointer;
    outline: none;
    background-color: var(--c-gray5);
    box-shadow: var(--c-shadow-disperse-ligth);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
}

.c__button:focus {
    font-weight: 400;
    text-shadow: 1px 1px 14px rgb(191, 189, 189);

    text-decoration: underline;
}

.c__button:active {
    box-shadow: none;
    text-decoration: none;
}
.c__button:disabled {
    background-color: var(--c-invisible);
    box-shadow: none;
    border: 1px solid var(--c-gray5);
    cursor: inherit;
}
.c__button--red{
    background-color: var(--c-red1);
    color: white;
    box-shadow: 2px 9px 8px -4px rgba(114, 11, 12, 0.4);
}

.c__button--red:focus{
    color: whitesmoke;
}

.c__button--yellow{
    background-color: var(--c-yellow2);
    color: white;
    font-weight: 400;
    text-shadow: 1px 1px 14px rgb(191, 189, 189);
    box-shadow: 2px 9px 8px -4px rgba(199, 170, 37, 0.4);
}

.c__button--yellow:focus {
    color: whitesmoke;
    text-shadow: none;
}

@media screen and (max-width:500px) {
    .c__button {
        min-height: 37px;
    }
}

@media screen and (max-width:350px) {
    .c__button {
        min-height: 32px;
    }
}
